
.img-logo{width:auto;
          height:100px;
         }

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.menu-link {color: white; 
            transition: color 0.3s ease; 
           }
        
.img-photo{width: auto;
           height: 300px;
          }

.img-icone{max-width: 100%;
           height: 100px;
           object-fit: contain;
           animation: float 3s ease-in-out infinite;
}

/* Animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.img-contact{max-width: 100%;
             height:50px;
            }
        
h4{font-family: "Dancing Script", cursive;
   font-style: italic;
  }

.cadre-h{height: 600px;}

section{scroll-margin-top: 125px;
       }

.img-site{width: auto;
          height: 400px;
         }

/* MODE SOMBRE GLOBAL */
.dark {
    background-color: #121212;
    color: #eaeaea;
}

/*fonds clairs en sombre */
.dark .bg-light,
.dark .bg-white,
.dark .container,
.dark .container-fluid {
    background-color: #1e1e1e !important;
}

/* Textes noirs en blancs */
.dark .text-black,
.dark .nav-link,
.dark p,
.dark li,
.dark h1,
.dark h2,
.dark h3,
.dark h4 {
    color: #eaeaea !important;
}

/* Cards & sections */
.dark section,
.dark .border {
    border-color: #444 !important;
}

/* Boutons Bootstrap */
.dark .btn-secondary {
    background-color: #444;
    border-color: #555;
}

/* Formulaires */
.dark input,
.dark textarea {
    background-color: #2a2a2a;
    color: white;
    border-color: #555;
}

/* Liens */
.dark a {
    color: #9ecbff;
}

